name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Select Xcode
      run: ls -l /Applications/Xcode* && sudo xcode-select -s /Applications/Xcode_26.2.app
    - name: Required to prevent the next command from sometimes not working
      run: xcrun simctl list > /dev/null
    - name: Download iOS
      run: xcodebuild -downloadPlatform iOS
    - name: Build, test, and code coverage
      run: make
    - name: Create Coverage Badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      with:
        auth: ${{ secrets.GIST_UPDATE }}
        gistID: a2eff986c25d1bd47eda107e4f38cede
        filename: DSPHeaders-coverage.json
        label: Coverage
        message: ${{ env.PERCENTAGE }}
        color: success
